:root {
    --ink: var(--white);
    --paper: var(--black);
}

#search--control:focus::placeholder,
#search--input:focus::placeholder { opacity: 0; }

.search--result {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.search--result--image {
    flex-basis: 4rem;
    flex-shrink: 0;
    width: 4rem;
    height: 4rem;
    margin-right: 0.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.search--result--info {}

.search--result--title {
    font-family: var(--font_family--sans_serif);
}

.search--result--type {
    font-size: var(--font_size--tiny);
    opacity: 0.6;
}
